include requirements.txt
include README.md
include LICENSE
include src/ecg_image_generator/TemplateFiles/generate_template.py
include src/ecg_image_generator/TemplateFiles/template_text_file.txt
include src/ecg_image_generator/TemplateFiles/TextFile1.txt
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/1.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/2.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/3.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/4.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/5.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/6.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/7.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/8.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/9.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/10.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/11.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/12.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/13.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/14.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/15.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/16.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/17.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/18.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/19.jpg
include src/ecg_image_generator/CreasesWrinkles/wrinkles-dataset/20.jpg
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.data-00000-of-00001
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.index
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.meta
include src/ecg_image_generator/Fonts/Arial_Bold_Italic.ttf
include src/ecg_image_generator/Fonts/Arial_Bold.ttf
include src/ecg_image_generator/Fonts/Arial_Italic.ttf
include src/ecg_image_generator/Fonts/Arial.ttf
include src/ecg_image_generator/Fonts/Courier_New.ttf
include src/ecg_image_generator/Fonts/Times_New_Roman.ttf
include src/ecg_image_generator/Fonts/Verdana_Bold_Italic.ttf
include src/ecg_image_generator/Fonts/Verdana_Bold.ttf
include src/ecg_image_generator/Fonts/Verdana_Italic.ttf
include src/ecg_image_generator/Fonts/Verdana.ttf
include src/ecg_image_generator/HandwrittenText/data/styles.pkl
include src/ecg_image_generator/HandwrittenText/data/translation.pkl
include src/ecg_image_generator/HandwrittenText/Biomedical.txt
include src/ecg_image_generator/TemplateFiles/template_text_file.txt
include src/ecg_image_generator/config.yaml
include src/ecg_image_generator/HandwrittenText/data/styles.pkl
include src/ecg_image_generator/HandwrittenText/data/translation.pkl
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.data-00000-of-00001
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.index
include src/ecg_image_generator/HandwrittenText/pretrained/model-29.meta
